/*** Overall Styling ***/

body {
    margin: 0;
    padding: 0 0 25px 0;
    width: 100vw;

    font-family: "Open Sans", sans-serif;
    line-height: 2;
}

article {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*** Intro ***/

.credits {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 20px;
    height: 40px;
    width: 100%;

    font-size: 14px;
    text-transform: uppercase;
}

.title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: calc(100vh - 40px); /* subtract credits height */
    padding: 0 10%;

    background-color: #f8f9f9;

    font-size: 48px;
    font-weight: bold;
    text-align: center;
}

.intro {
    padding: 20px 10% 300px 10%;
    font-size: 22px;
    background-color: #f8f9f9;
}

.intro::first-letter {
    font-size: 150%;
    font-weight: bold;
}

/*** Generic Sections ***/

section {
    display: flex;
    flex-direction: column;
    width: 100%;
}

header {
    display: flex;
    justify-content: center;
    padding: 20px 0;
    font-size: 48px;
    font-weight: bold;
    text-align: center;
    width: 100%;
}

header div {
    border-bottom: 1px solid lightgray;
}

section .text {
    pointer-events: none;
}

section .graphic {
    position: sticky;
    top: 0;
    left: 0;
    bottom: 10vh;
    display: flex;
    justify-content: center;
    padding: 0 2.5%;
    height: 60vh;
    width: 100%;
}

section .graphic canvas {
    height: 100%;
    width: 100%;
}

section .graphic .canvas-grid {
    display: grid;
}

.step:not(:last-of-type) {
    margin-bottom: 600px;
}

/*** Flexibility ***/

.flexibility {
    padding: 40px 5%;
}

header.flexibility {
    background-color: #f9f6ef;
}

.flexibility.intro {
    background-color: #f9f6ef;
}

/*** Enrollment ***/

.enrollment {
    padding: 40px 5%;
}

header.enrollment {
    margin-top: 150px;
    background-color: #f9f6ef;
}

.enrollment.intro {
    background-color: #f9f6ef;
}

.enrollment-breakdown {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
}

.enrollment-breakdown:first-child {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;
}

.enrollment-breakdown:nth-child(2) {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
}

.enrollment-breakdown:nth-child(3) {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
}
