/*** Overall Styling ***/

body {
    margin: 0;
    padding: 0 0 25px 0;
    width: 100vw;

    font-family: "Open Sans", sans-serif;
    line-height: 2;
}

article {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*** Intro ***/

.credits {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 20px;
    height: 40px;
    width: 100%;

    font-size: 14px;
    text-transform: uppercase;
}

.title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: calc(100vh - 40px); /* subtract credits height */
    padding: 0 10%;

    background-color: #f8f9f9;

    font-size: 48px;
    font-weight: bold;
    text-align: center;
}

.intro {
    padding: 20px 10% 300px 10%;
    font-size: 22px;
    background-color: #f8f9f9;
}

.intro::first-letter {
    font-size: 150%;
    font-weight: bold;
}

/*** Generic Sections ***/

section {
    display: flex;
    flex-direction: column;
    width: 100%;
}

header {
    display: flex;
    justify-content: center;
    padding: 20px 0;
    font-size: 48px;
    font-weight: bold;
    text-align: center;
    width: 100%;
}

header div {
    border-bottom: 1px solid lightgray;
}

section .graphic {
    position: sticky;
    top: 0;
    left: 0;
    bottom: 5vh;
    display: flex;
    justify-content: center;
    padding: 0 2.5%;
    height: 60vh;
    width: 100%;
}

section .graphic canvas {
    height: 100%;
    width: 100%;
}

section .graphic .canvas-grid {
    display: grid;
}

.step:not(:last-of-type) {
    margin-bottom: 600px;
}

.step:last-of-type {
    margin-bottom: 50px;
}

/*** Flexibility ***/

.flexibility {
    padding: 40px 5%;
}

header.flexibility {
    background-color: #f9f6ef;
}

.flexibility.intro {
    background-color: #f9f6ef;
}

/*** Enrollment ***/

.enrollment {
    padding: 40px 5%;
}

header.enrollment {
    margin-top: 150px;
    background-color: #f9f6ef;
}

.enrollment.intro {
    background-color: #f9f6ef;
}

.enrollment-breakdown {
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: calc(70% - 25px) calc(30% - 25px);
    grid-template-rows: calc(25% - 25px) calc(75% - 25px);
    grid-column-gap: 25px;
    grid-row-gap: 25px;
}

.enrollment-breakdown > * {
    width: 100%;
    height: 100%;
}

.enrollment-breakdown > *:first-child {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;
}

.enrollment-breakdown > *:nth-child(2) {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;

    font-size: 14px;
    text-align: center;
}

.enrollment-breakdown > *:nth-child(2) h3 {
    font-size: 22px;
}

.enrollment-breakdown > *:nth-child(2) h4 {
    font-size: 22px;
}

.enrollment-breakdown > *:nth-child(3) {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;

    font-size: 12px;
}

.enrollment-select-sentence {
    margin-top: 40px;
    text-align: center;
    font-size: 24px;
}

.enrollment-select-sentence label {
    margin: 0;
    padding: 0;
}

.enrollment-select-sentence input {
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    width: 64px;
    border-bottom: 1px solid lightgray;
    text-align: right;
}

.enrollment-select-sentence button {
    background-color: lightgray;
    border: none;
    box-shadow: none;
    padding: 0 5px;
    margin: 0;
    margin-left: 50px;
    cursor: pointer;
}

.enrollment-select-sentence button:hover {
    background-color: #d0dfe0;
}
